/*HTML/Body*/
html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
}


/*Estilização Parallax*/
.parallax {
    height: 80%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    justify-self: center;
}

.oQueE {
    background-image: url("../img/tarde10.08.png");
}

.historia {
    background-image: url("../img/nossaHistoria.png");
}

/*Header*/
#containerHead {
    margin-left: 0;
}

.flex-wrap {
    flex-wrap: nowrap !important;
}

#headerOpcoes {
    margin-left: 5%;
}

.justify-content-center {
    justify-content: start !important;
}

#logoHeader {
    border-radius: 200px;
    width: 5%;
    height: auto;
    margin-right: 30px;
}

/*Parte principal do site*/
main {
    background-color: #feffff;
    width: 100%;
    height: 100%;
}

.divTextos {
    background-color: #5c1817;
    color: #feffff;
    border: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tituloAmarelo {
    color: #edb557;
}

.sobreCLJ {
    width: 95%;
    text-align: justify;
}

#historia {
    margin-top: 5px;
}

#cronograma {
    margin-top: 5px;
}

#funcionamentoTxt {
    width: 95%;
}

video {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

#video-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#meInteressei {
    margin-top: 5px;
}

#infosInteresse {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    gap: 10px;
}

#textoInteresse {
    width: 40%;
}

#informacoesH2 {
    text-align: center;
}


@media screen and (min-width: 319px) and (max-width: 441px) and (max-height: 916px) {
    #infosInteresse {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    #interesseH1 {
        text-align: center;
    }

    #textoInteresse {
        width: 95%;
    }

    #logoHeader {
        width: 10%;
    }
}

@media screen and (min-width: 767px) and (max-width: 835px) and (min-height: 1023px) and (max-height: 1281px) {
    iframe {
        width: 500px;
        height: 350px;
    }
}